src/
test/
third_party/
typings/**/*
.vscode/**/*
tsconfig.json
.gitignore
**/*.map
**/tslint.json
build/
docs/
*.md.nightly
.github/**/*
.prettierrc.json
out/
.vscode-test/**
SECURITY.md
node_modules/